<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="common_function.MyITestListner"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG_package.TestClass"/>
      <class name="comutility.common_function.Browser"/>
      <class name="datadriven.DataDrivenTestingReadingData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->